# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Uploaded Images
media/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# Build files
*.egg-info/
build/
dist/